@model IEnumerable<FlyingDutchman.Models.Statistic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DAU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalGood)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DAU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalGood)
        </td>
      
    </tr>
}

</table>
