@using Highsoft.Web.Mvc.Charts


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- page content -->
<div class="right_col" role="main" style="height: 970px;">
    <!-- top tiles -->
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> 活跃用户数</span>
            <div class="count">@ViewBag.DAU</div>

            @if (ViewBag.DAURate >= 0)
            {
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewBag.DAURate% </i> 与昨日相比</span>
            }
            else
            {
                <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>@ViewBag.DAURate% </i> 与昨日相比</span>
            }

        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> 付款人数</span>
            <div class="count">@ViewBag.BuyNum</div>

            @if (ViewBag.BuyRate >= 0)
            {
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewBag.BuyRate% </i> 与昨日相比</span>
            }
            else
            {
                <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>@ViewBag.BuyRate% </i> 与昨日相比</span>
            }

        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> 加入购物车人数</span>
            <div class="count">@ViewBag.AddNum</div>

            @if (ViewBag.AddRate >= 0)
            {
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewBag.AddRate% </i> 与昨日相比</span>
            }
            else
            {
                <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>@ViewBag.AddRate% </i> 与昨日相比</span>
            }

        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> 收藏人数</span>
            <div class="count">@ViewBag.CollectNum</div>

            @if (ViewBag.CollectRate >= 0)
            {
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewBag.CollectRate% </i> 与昨日相比</span>
            }
            else
            {
                <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>@ViewBag.CollectRate% </i> 与昨日相比</span>
            }

        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> 搜索人数</span>
            <div class="count">@ViewBag.SearchNum</div>

            @if (ViewBag.SearchRate >= 0)
            {
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewBag.SearchRate% </i> 与昨日相比</span>
            }
            else
            {
                <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>@ViewBag.SearchRate% </i> 与昨日相比</span>
            }

        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> 操作总数</span>
            <div class="count">@ViewBag.TotalNum</div>

            @if (ViewBag.TotalRate >= 0)
            {
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewBag.TotalRate% </i> 与昨日相比</span>
            }
            else
            {
                <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>@ViewBag.TotalRate% </i> 与昨日相比</span>
            }

        </div>
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>当日数据 <small>Activities</small></h3>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="chart0" class="demo-placeholder">
                        @(Html.Highsoft().Highcharts(
                        new Highcharts
                        {
                            Credits = new Credits
                            {
                                Enabled = false,
                            },
                            Title = new Title
                            {
                                Text = null,

                            },

                            XAxis = new List<XAxis>
                            {

                                    new XAxis
                                    {
                                        Categories = new List<string> { "00:00-02:00", "02:00-04:00", "04:00-06:00","00:60-08:00", "00:80-10:00", "10:00-12:00", "12:00-14:00",
                                                    "14:00-16:00", "16:00-18:00", "18:00-20:00", "20:00-22:00", "22:00-24:00" },
                                        Crosshair=new XAxisCrosshair
                                        {
                                             Color="rgba(124, 181, 236, 0.2)",
                                          },
                                    }
                               },
                            YAxis = new List<YAxis>
                                {
                                    new YAxis
                                    {
                                        Title = new YAxisTitle
                                        {
                                            Text = "次数"
                                        },
                                        PlotLines = new List<YAxisPlotLines>
                                        {
                                                new YAxisPlotLines
                                            {
                                                Value = 0,
                                                Width = 1,
                                                Color = "#808080"
                                            }
                                        }
                                    }
                                },
                            Tooltip = new Tooltip
                            {
                                ValueSuffix = "次",

                            },
                            Legend = new Legend
                            {
                                Layout = LegendLayout.Horizontal,
                                Align = LegendAlign.Right,
                                Floating = true,
                                VerticalAlign = LegendVerticalAlign.Top,
                                BorderWidth = 0,
                                X = -90,
                                Y = -4,
                            },
                            Series = new List<Series>
                                {
                                    new SplineSeries
                                    {
                                        Name = "购买",
                                        Data = @ViewData["BuyTimeData"] as List<SplineSeriesData>
                                    },
                                    new SplineSeries
                                    {
                                        Name = "添加购物车",

                                        Data = @ViewData["AddTimeData"] as List<SplineSeriesData>
                                    },
                                    new SplineSeries
                                    {
                                        Name = "收藏",
                                        Data = @ViewData["CollectTimeData"] as List<SplineSeriesData>
                                    },
                                    new SplineSeries
                                    {
                                        Name = "搜索",
                                        Data = @ViewData["SearchTimeData"] as List<SplineSeriesData>
                                    }
                                }
                        }
                            , "chart0")
                        )

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <br />

    <div class="row">

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                    <h2>用户分布 <small>Distribution</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>


                <div id="chart1" style="min-width:400px; height: 270px;">

                </div>

            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                    <h2>热门商品 <small>Hot Sale</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div id="chart2" style="min-width:400px; height: 270px;">
                    @(Html.Highsoft().Highcharts(
                    new Highcharts
                    {
                        Credits = new Credits
                        {
                            Enabled = false
                        },
                        Title = new Title
                        {
                            Text = null
                        },
                        Colors = new List<string>()
                        {
                           "#3498DB","#1abb9c","#9B59B6","#E74C3C","#34495E"
                        },
                        XAxis = new List<XAxis>
                        {
                            new XAxis
                            {
                                Type = XAxisType.Category,
                                Labels = new XAxisLabels
                                    {

                                        Style = new XAxisLabelsStyle()
                                        {
                                            FontSize = "10px",
                                        }
                                    }
                            }
                        },
                        YAxis = new List<YAxis>
                        {
                            new YAxis
                            {
                                Title = new YAxisTitle
                                {
                                    Text = "热度 (次)"
                                }
                            }
                        },
                        Legend = new Legend
                        {
                            Enabled = false
                        },
                        Tooltip = new Tooltip
                        {
                            PointFormat = "今日热度: <b>{point.y} 次</b>"
                        },

                        PlotOptions = new PlotOptions
                        {
                            Series = new PlotOptionsSeries
                            {
                                DataLabels = new PlotOptionsSeriesDataLabels
                                {
                                    Enabled = false,
                                }
                            }
                        },
                        Series = new List<Series>
                        {
                            new ColumnSeries
                            {
                                Name = "Goods",
                                ColorByPoint = true,
                                Data = @ViewData["HotSale"] as List<ColumnSeriesData>,
                            }
                        },
                        Drilldown = new Drilldown
                        {
                            Series = new List<Series>
                            {
                                new ColumnSeries
                                {
                                    Name =@ViewBag.No1Name,
                                    Id = @ViewBag.No1Name,
                                    Data = @ViewData["No1Data"] as List<ColumnSeriesData>
                                },
                                new ColumnSeries
                                {
                                    Name = @ViewBag.No2Name,
                                    Id = @ViewBag.No2Name,
                                    Data = @ViewData["No2Data"] as List<ColumnSeriesData>
                                },
                                new ColumnSeries
                                {
                                    Name = @ViewBag.No3Name,
                                    Id = @ViewBag.No3Name,
                                    Data = @ViewData["No3Data"] as List<ColumnSeriesData>
                                },
                                new ColumnSeries
                                {
                                    Name = @ViewBag.No4Name,
                                    Id = @ViewBag.No4Name,
                                    Data = @ViewData["No4Data"] as List<ColumnSeriesData>
                                },
                                new ColumnSeries
                                {
                                    Name = @ViewBag.No5Name,
                                    Id = @ViewBag.No5Name,
                                    Data = @ViewData["No5Data"] as List<ColumnSeriesData>
                                },
                            }
                        }
                    }
                    , "chart2")
                    )

                </div>

            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                    <h2>行为分析 <small>Behavior</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div id="chart3" style="min-width:400px; height: 270px;">
                    <script type="text/javascript">

                        function formatXAxis() {
                            return this.value; // clean, unformatted number for year
                        }

                        function formatYAxis() {
                            return this.value  + '次';
                        }


                    </script>


                    @(Html.Highsoft().Highcharts(
                        new Highcharts
                        {
                            Title = new Title
                            {
                                Text = null
                            },

                            Credits = new Credits
                            {
                                Enabled = false
                            },

                            Legend = new Legend
                            {
                                Align = LegendAlign.Center,
                                VerticalAlign = LegendVerticalAlign.Top,
                                Floating = true,

                            },

                            XAxis = new List<XAxis>
                            {
                                new XAxis
                                {
                                     Categories =  new List<string> { "女鞋", "香水", "口红", "女帽", "牙刷", "毛巾", "皮带","男鞋", "烟斗", "男帽","剃须刀" },
                                     Labels = new XAxisLabels
                                     {
                                          Style = new XAxisLabelsStyle()
                                        {
                                            FontSize = "8px",
                                            Color = "#666",
                                        }
                                     }
                                 }
                            },
                            YAxis = new List<YAxis>
                            {
                                new YAxis
                                {
                                    Title = new YAxisTitle
                                    {
                                        Text = "操作次数"
                                    },
                                    Labels = new YAxisLabels
                                    {
                                        Formatter = "formatYAxis"
                                    }
                                }
                            },
                            Tooltip = new Tooltip
                            {
                                PointFormat = "{series.name} 访问 <b>{point.y:,.0f}</b> 次"
                            },
                            PlotOptions = new PlotOptions
                            {

                                Areaspline = new PlotOptionsAreaspline
                                {
                                    FillOpacity = 0.5
                                },

                                Area = new PlotOptionsArea
                                {

                                    Marker = new PlotOptionsAreaMarker
                                    {
                                        Enabled = false,
                                        Symbol = "circle",
                                        Radius = 2,
                                        States = new PlotOptionsAreaMarkerStates
                                        {
                                            Hover = new PlotOptionsAreaMarkerStatesHover
                                            {
                                                Enabled = true
                                            }
                                        }
                                    }

                                }
                            },
                            Series = new List<Series>
                            {
                                new AreasplineSeries
                                {
                                    Color = "rgba(124, 181, 236, 0.75)",
                                    Name = "男性",
                                    Data = @ViewData["MaleData"] as List<AreasplineSeriesData>

                                },
                                new AreasplineSeries
                                {
                                    Color = "rgba(223, 83, 83, 0.2)",
                                    Name = "女性",
                                    Data = @ViewData["FamaleData"] as List<AreasplineSeriesData>
                                }
                            }
                        }
                        , "chart3")
                    )
                </div>

            </div>
        </div>

    </div>
</div>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://cdn.hcharts.cn/highmaps/modules/map.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="~/Scripts/highcharts/drilldown.js"></script>
<script src="~/Scripts/highcharts/china.js"></script>
<script>
    var data= @Html.Raw(ViewBag.MapData);
    var map = new Highcharts.Map('chart1', {
        credits:{
            enabled: false
        },
        title: {
            text: null
        },
        colorAxis: {
            min: 0,
            minColor: 'rgb(255,255,255)',
            maxColor: '#006cee'
        },

        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'bottom'
        },

        series: [{
            data: data,
            name: '访问量',
            mapData: Highcharts.maps['cn/china'],
            joinBy: null, // 根据 name 属性进行关联
            tooltip: {
                valueSuffix: ' 次'
            },
        }]
    });


</script>
