@using System.Collections
@using Highsoft.Web.Mvc.Charts


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- page content -->
<div class="right_col" role="main" style="height: 970px;">
    <!-- top tiles -->
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> 活跃用户数</span>
            <div class="count">@ViewBag.DAU</div>

            @if (ViewBag.DAURate>=0)
            { 
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewBag.DAURate% </i> 与昨日相比</span>
            }
            else
            {
                <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>@ViewBag.DAURate% </i> 与昨日相比</span>
            }
           
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> 付款人数</span>
            <div class="count">123.50</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> 与昨日相比</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> 加入购物车人数</span>
            <div class="count">2,500</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> 与昨日相比</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> 收藏人数</span>
            <div class="count">4,567</div>
            <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> 与昨日相比</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> 总操作数</span>
            <div class="count">2,315</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> 与昨日相比</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Connections</span>
            <div class="count">7,325</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
        </div>
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>实时数据 <small>Network Activities</small></h3>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="chart0" class="demo-placeholder">
                    

                        <script type="text/javascript">

                            function initChart() {

                                var data = generateInitialData();

                                // set up the updating of the chart each second
                                var series = this.series[0];

                                series.setData(data);

                                setInterval(function () {
                                    var x = (new Date()).getTime(), // current time
                                        y = Math.random();
                                    series.addPoint([x, y], true, true);
                                }, 1000);
                            }

                            function formatTooltip() {
                                return '<b>' + this.series.name + '</b><br/>' +
                                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                                Highcharts.numberFormat(this.y, 2);
                            }

                            function generateInitialData() {

                                    // generate an array of random data
                                    var data = [],
                                        time = (new Date()).getTime(),
                                        i;

                                    for (i = -19; i <= 0; i += 1) {
                                        data.push({
                                            x: time + i * 1000,
                                            y: Math.random()
                                        });
                                    }
                                    return data;

                            }

                       </script>


                        @(Html.Highsoft().Highcharts(
                            new Highcharts
                            {
                                Chart = new Highsoft.Web.Mvc.Charts.Chart
                                {
                                    Type = ChartType.Spline,
                                    Animation = new Animation
                                    {
                                        Enabled = true
                                    },
                                    MarginRight = 10,
                                    Events = new ChartEvents
                                    {
                                        Load = "initChart"
                                    }
                                },
                                Title = new Title
                                {
                                    Text = null
                                },
                                XAxis = new List<XAxis>
                                {
                                    new XAxis
                                    {
                                        Type = XAxisType.Datetime,
                                        TickPixelInterval = 150
                                    }
                                },
                                YAxis = new List<YAxis>
                                {
                                    new YAxis
                                    {
                                        Title = new YAxisTitle
                                        {
                                            Text = "Value"
                                        },
                                        PlotLines =  new List<YAxisPlotLines>
                                        {
                                            new YAxisPlotLines
                                            {
                                                Value = 0,
                                                Width = 1,
                                                Color = "#808080"
                                            }
                                        }
                                    }
                                },
                                Tooltip = new Tooltip
                                {
                                    Formatter = "formatTooltip"
                                },
                                Legend = new Legend
                                {
                                    Enabled = false
                                },
                                Exporting = new Exporting
                                {
                                    Enabled = false
                                },
                                Series = new List<Series>
                                {
                                    new SplineSeries
                                    {
                                        Name = "Random Data"
                                    }
                                }
                            }
                            , "chart0")
                                            )

                    </div>
                </div>


                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <br />

    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>热门商品 <small>Hot Sale</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                @*<div class="x_content">*@ 
                    <div id="chart1" style="min-width:400px; height: 280px;">
                        @(Html.Highsoft().Highcharts(
                        new Highcharts
                        {
                            Title = new Title
                            {
                                Text = null
                            },

                            XAxis = new List<XAxis>
                            {
                                new XAxis
                                {
                                    Type = XAxisType.Category,
                                    Labels = new XAxisLabels
                                    {
                                        Rotation = -45,
                                        Style = new XAxisLabelsStyle()
                                        {
                                            FontSize = "8px"
                                        }
                                    }
                                }
                            },
                            YAxis = new List<YAxis>
                            {
                                new YAxis
                                {
                                    Min = 0,
                                    Title = new YAxisTitle
                                    {
                                        Text = "热度 (次)"
                                    }
                                }
                            },
                            Colors = new List<string>()
                            {
                                "#1abb9c",
                            },
                            Legend = new Legend
                            {
                                Enabled = false
                            },
                            Tooltip = new Tooltip
                            {
                                PointFormat = "今日热度: <b>{point.y} 次</b>"
                            },
                            Series = new List<Series>
                            {
                                new ColumnSeries
                                {
                                    Name = "HotSale",
                                    Data = @ViewData["Hotsale"] as List<ColumnSeriesData>
                                }
                            }
                        }
                        , "chart1")
                                        )
                        
                                    </div>
 
                @*</div>*@
              

            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                    <h2>Device Usage</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="" style="width:100%">
                        <tr>
                            <th style="width:37%;">
                                <p>Top 5</p>
                            </th>
                            <th>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <p class="">Device</p>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <p class="">Progress</p>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                            </td>
                            <td>
                                <table class="tile_info">
                                    <tr>
                                        <td>
                                            <p><i class="fa fa-square blue"></i>IOS </p>
                                        </td>
                                        <td>30%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><i class="fa fa-square green"></i>Android </p>
                                        </td>
                                        <td>10%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><i class="fa fa-square purple"></i>Blackberry </p>
                                        </td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><i class="fa fa-square aero"></i>Symbian </p>
                                        </td>
                                        <td>15%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><i class="fa fa-square red"></i>Others </p>
                                        </td>
                                        <td>30%</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Quick Settings</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <ul class="quick-list">
                            <li>
                                <i class="fa fa-calendar-o"></i><a href="#">Settings</a>
                            </li>
                            <li>
                                <i class="fa fa-bars"></i><a href="#">Subscription</a>
                            </li>
                            <li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>
                            <li>
                                <i class="fa fa-line-chart"></i><a href="#">Achievements</a>
                            </li>
                            <li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>
                            <li>
                                <i class="fa fa-line-chart"></i><a href="#">Achievements</a>
                            </li>
                            <li>
                                <i class="fa fa-area-chart"></i><a href="#">Logout</a>
                            </li>
                        </ul>

                        <div class="sidebar-widget">
                            <h4>Profile Completion</h4>
                            <canvas width="150" height="80" id="chart_gauge_01" class="" style="width: 160px; height: 100px;"></canvas>
                            <div class="goal-wrapper">
                                <span id="gauge-text" class="gauge-value pull-left">0</span>
                                <span class="gauge-value pull-left">%</span>
                                <span id="goal-text" class="goal-value pull-right">100%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
